<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/main.css" />
  <title>UN Member Countries</title>
</head>

<body tabindex="-1">
  <%- include('partials/navbar', {page: '/about' }) %>
    <div class="container mx-auto">
      <div class="hero bg-base-200 rounded-box p-2">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">About</h1>
            <p class="py-6">Everything you want to know about me - the designer & developer.
            </p>
          </div>
        </div>
      </div>
      <br>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div>
            <img class="w-full rounded-lg"
              src=""
              alt="" />
        </div>
        <div>
          <article class="prose">
            <p class="px-2">I am the WEB</p>
            <p class="px-2">Add Text here.

             
<br />            <br />

             <br />

            <p class="px-2">Add text here.</p>
            </p>
          </article>
        </div>
      </div>
    </div>
</body>

</html>

