<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UN Countries</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body tabindex="-1">
    <%- include('partials/navbar', {page: '/about'})%>
    <main>
      <div class="container mx-auto">
        <div class="hero bg-base-200 rounded-lg p-6">
          <div class="hero-content text-center">
            <div class="max-w-md">
              <h1 class="text-5xl font-bold">About</h1>
              <p class="py-6">
                Everything you want to know about me - the designer & developer.
              </p>
            </div>
          </div>
        </div>

        <br />

        <div class="grid grid-cols-2 gap-4">
          <div class="shadow-inner">
            <!-- <img
              class="rounded-lg"
              src=""
              alt=""
            /> -->
          </div>
          <div class="prose">
            <p></p>
            <p></p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
